{% extends "layout.html" %}
<!-- select menu where you select the stock -->
 <!-- input field of shares -->
{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <select class="form-select" aria-label="Default select example" name="symbol">
            <option value="" disabled selected>Open this select menu</option>
            {% for stock in portfolio %}
            <option value="{{ stock.symbol }}">{{ stock.symbol }}</option>
            {% endfor %}
        </select>
        <div class="mb-5 mt-5">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto"
             name="shares" placeholder="Enter number of shares" type="text">
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Sell</button>
        </div>
    </form>
{% endblock %}
